body {background-color: rgb(97, 97, 97);
    font: 12px Tahoma,Arial,sans-serif;}
.flex-container {background-color:#fff;
    overflow: hidden;
margin: auto;
width: 602px;
box-shadow: 0 25px 40px rgba(0,0,0,0.4);
    border-radius: 5px;}
    .item {
        float: left;
        width: 200px;
        border-left: 1px solid #d9d9d9;
        text-align: center;
    margin:10px 0 ;
    }
    .item:first-child { border:none; }
    .button {
        color:#fff;
        background-color:#ff8827;
    border:#ff8827;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    text-decoration: none;
    
    
}
img {width: 50px;}